<% if(!currentUser){ %>
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Sign Up</a></li>
<% } else { %>
    <li><a href="#">Signed In As <%= currentUser.email %></a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/logout">Logout</a></li>
<% } %>

